h1,h2{
    background-color: #EBEBEB;
    margin: 0px 0px 0px 0px;
    padding: 4vh 0px;
}
h1{
    font-size: 200%;
    padding: 4vh 35vh;
}
button{
    background-color: #1464F6;
    text-decoration: none;
    color: #FFFFFF;
    
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
section div img{
    height: 50vh;
}