.list-to-linline{
    margin: 0.9vh 0 0 0;
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
}
.list-to-linline li{
    list-style: none;
    text-align: center;
    padding: 0.1vh 2vw 0.1vh 2vw;
    margin-top: 2.1vh;
}
.list-to-linline a{
    text-decoration: none;
    color: black;
}
.grow{
    flex-grow: 1;
    border-left: 0.5vh solid black;
}
div nav{
    border-radius: 300px;
    background-color: white;
    height: 9vh;
    padding: 0 0vw 0.1vh 0vw;
}
body{
    margin: 0 0 0 0;
    font-family: 'Source Sans 3', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    background-color: #1464F6;
    padding-left: 2vh;
    height: 24vh;
}
header div:nth-last-child(-n + 1){
    margin: auto;
    margin-top: 5vh;
}
.IUTO img{
    height: 19vh;
    padding-right: 1vh;
    background-color: white;
    border-radius: 10%;
}
.IUTO{
    margin-top: 2vh;
    height:1vh;
    
}
footer{
    background-color: #EBEBEB;
}

footer div{
    display: flex;
}
footer h3{
    margin-left: 5vw;
    margin-bottom: 0px;
    padding-top: 4vh;
}
footer img{
    height: 5vh;
    width: 2vw;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 2vw;
}
footer div div{
    margin: auto;
}
.list-to-linline2{
    margin: auto;
    display: flex;
    padding: 0;
    flex-wrap: nowrap;
    text-align: center;
}
.list-to-linline2 li{
    list-style: none;
    text-align: center;
    padding: 0px 0px 0px 2em;
    margin: 1em;
}
.list-to-linline2 li:nth-last-child(-n + 3){
    border-left: 0.2em solid black;
}
.list-to-linline2 a{
    text-decoration: none;
    color: black;
}
.list-to-linline2 p{
    margin: 0 0;
}
